* {
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

.container div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
}

.header {
    background-color: white;
    display: grid;
    grid-column: 2 / 3;
    height: ;
}

.top-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.search {
    display: inline-flex;
    align-items: center;
    margin-top: -2em
}

.search-btn {
    border: none;
    background: transparent;
    padding: 15px;
}

.search-bar {
    height: 30px;
    width: 80em;
    border-radius: 99px;
    border: none;
    background-color: #bccbde;;
}

a:link {
    text-decoration:none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

a:visited {
    text-decoration:none;
}

.profile-section {
    display: flex;
    align-items: center;
    margin-top: -2em;
    margin-right: 3em;
    column-gap: 3em;
}

.notif-btn {
    border: none;
    background: transparent;
}

.profile-btn {
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-image:url('https://i.kym-cdn.com/photos/images/original/001/372/044/285.jpg');
    background-size:cover;
 }

 .bot-header {
    display: flex;
    justify-content: space-between;
 }

 .left-bot-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
 }

.greeting {
    font-weight: 500;
 }

 .user-greeting {
    font-size: 1.5em;
 }

 .right-bot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    margin-right: 2em;
 }

 .right-bot-header > button {
    border: none;
    border-radius: 99px;
    height: 3em;
    width: 9em;
    background-color: lightskyblue;
 }
 
.sidebar {
    background-color: lightskyblue;
    display: flexbox;
    grid-row: 1 / 4;
    color: white;
    font-size: 32px;
}

.logo {
    font-weight: 500;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo i {
    font-size: 1.5em;
}

.menu ul {
    padding: 15px;
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
}

li i {
    margin-right: 10px;
}

.menu ul li {
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 15px;
}

.main {
    background-color: #bccbde;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.project-section-title {
    font-weight: 500;
    font-size: 20px;
}

.project {
    display: grid;
    grid-template-rows: 30px;
}

.project-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.project p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    color: grey;
  }

.project .card {
    height: 130px;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.card .title {
    color: black;
    font-weight: 500;
}

.card-button {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.a-card {
    background-color: white;
    height: 250px;
    border-radius: 10px;
    display: ;
}

.t-card {
    background-color: white;
    height: 250px;
    border-radius: 10px;
}


